body {
    background-color: #8600b3;

    padding: 40px;
font:16px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
color:#8600b3;
font-size: 1.5em;
}

.custom {
    width: 150px !important;
}

.container{
  width:1025px;
}

.jumbotron .container {
  max-width: 100%;
}
.jumbotron{
  heght:100%;
  width:100%;
}